{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container-fluid">
    <h1>Hi {{ current_user.name }}!</h1>
    <div class="row">
		<div class="col">
			<h4>Admins</h4>
			<ol>
				{% for admin in admins %}
				<li>{{ admin.name }}</li>
				{% endfor %}
			</ol>
		</div>
		<div class="col">
			<h4>Admin requests</h4>
			<ol>
				{% for req in admin_requests %}
				<li>{{ req.name }}</li>
				{% endfor %}
			</ol>
		</div>
		<div class="col">
			<h4>Register staffs</h4>
			{{ wtf.quick_form(staff_reg_form)}}
		</div>
		<div class="col">
			<h4>Processed samples</h4>
			{{ wtf.quick_form(ps_form)}}
		</div>
    </div>
    <div class="row">
		<div class="col">
			<h4>Register stations</h4>
			{{ wtf.quick_form(rs_form)}}
		</div>
		<div class="col">
			<h4>Register shifts</h4>
		  {{ wtf.quick_form(rsh_form)}}
		</div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Machine certified</th>
                    <th scope="col">Date Joined</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for member in members %}
                  <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.position }}</td>
                    <td>{{ member.machine_certified }}</td>
                    <td>{{ member.date_joined }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                {% for p in processed_samples %}
                  <tr>
                    <td>{{ p.process_date }}</td>
                    <td>{{ p.shift.name }}</td>
                    <td>{{ p.quantity }}</td>
                    
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}