{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div id="processedSamplesChart"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4>Staffs</h4>
            <table class="table table-bordered">
              <thead>
                <th>Staff name</th>
                <th>Position</th>
                <th>Date joined</th>
              </thead>
              <tbody>
                {% for member in members %}
                <tr>
                  <td>{{ member.name }}</td>
                  <td>{{ member.position }}</td>
                  <td>{{ member.date_joined }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
          <h4>Morning shift</h4>
          {% for staff in morning_shift %}
            <div>{{ staff.name }}</div>
          {% endfor %}
        </div>
  
        <div class="col-sm-4">
          <h4>Noon shift</h4>
          {% for staff in noon_shift %}
            <div>{{ staff.name }}</div>
          {% endfor %}
        </div>
  
        <div class="col-sm-4">
          <h4>Night shift</h4>
          {% for staff in night_shift %}
            <div>{{ staff.name }}</div>
          {% endfor %}
        </div>      
    </div>
    
{% endblock %}

{% block scripts %}
{{ super() }}

<script>

google.charts.load('current', {'packages':['corechart']});
    
$(window).on('load', function() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Day');
	data.addColumn('number', 'Morning');
	data.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
	data.addColumn('number', 'Afteroon');
	data.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
	data.addColumn('number', 'Night');
	data.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

	
		
		
		{% for i in range(runs_list|length) %}
			data.addRows([
				[ '{{ runs_list[i]['run_date'] }}', {{ runs_list[i]['Morning']}}, '', {{ runs_list[i]['Afternoon']}}, '', {{ runs_list[i]['Night']}}, ''],
			]);
		{% endfor %}
		
		
	
	
	
	var options = {
	title: 'Processed samples per shift',
	//subtitle: 'in millions of dollars (USD)',
	titleTextStyle: {
	  color: 'gray', 
	  fontName: 'Monospace', 
	  fontSize: 18,
	},
	width: 1000,
	height: 500,
	pointsVisible: true,
	interpolateNulls: true, 
	};

	var chart = new google.visualization.LineChart(document.getElementById('processedSamplesChart'));

	chart.draw(data, options);
	
});
  </script>
{% endblock %}