{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
			<h3>Heatmap of retests per well</h3>
			<div class="col-lg-3 col-md-3 col-sm-4 col-3">
				<h4>{{ plate_date_list[0]}} - {{ plate_date_list[-1]}}</h4>
			</div>
			<!--div class="col-lg-4 col-md-4 col-sm-4 col-4">
				{{ wtf.quick_form(fpd_form) }}
			</div-->
			
			<table class="table table-bordered table-hover">
				<tbody>
					{% for al in 'ABCDEFGH' %}
					<tr>
						{% set well = namespace( name = '') %}
						{% for i in range(1, 13) %}
						<td class="{{ al }}{% if i|string|length < 2 %}{{ '0' + i|string }}{% set well.name = al + '0' + i|string %}{% else %}{{ i }}{% set well.name = al + i|string %}{% endif %}" style="background-color: rgba(251, 9, 9, {% for well_group in retests_well_group %}{% if well_group.well == well.name %}{{ (well_group.well_count/max_wellcount)|round(1, 'floor') }}{% endif %}{% endfor %});"><div>{{ well.name }} - {% for well_group in retests_well_group %}{% if well_group.well == well.name %}{{ well_group.well_count }}{% endif %}{% endfor %}</div></td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-12">
			<div id="retestCountChart"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
/*$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; //same like url_for but for jquery
	
$('#plate_date_select').change(function(){
	$.getJSON($SCRIPT_ROOT + '/update_analyte_list', {
		plate_date : $(this).val()
	}, function(data){
		$.each(data.result, function(i, new_options){
			$('#rrlf_analyte').append($('<option></option>').attr("value", new_options[0]).text(new_options[1]) );
		})
		
	});
	return false;
});*/
</script>
<script type="text/javascript">

google.charts.load('current', {'packages':['corechart']});
    
$(window).load(function() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Run date');
      data.addColumn('number', 'retest count');
	  

      data.addRows([
		{% for pd_count in pd_count_list %}
			{% for key, val in pd_count.items() %}
				['{{ key }}', {{ val }}],
			{% endfor %}
		{% endfor %}
      ]);

      var options = {
        title: 'Retest count per date',
        //subtitle: 'in millions of dollars (USD)',
        titleTextStyle: {
          color: 'gray', 
          fontName: 'Monospace', 
          fontSize: 18,
        },
        width: 1000,
        height: 500,
        pointsVisible: true,
        interpolateNulls: true, 
      };

      var chart = new google.visualization.LineChart(document.getElementById('retestCountChart'));
      
      chart.draw(data, options);
	
});
  </script>
{% endblock %}