{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div>
				<h4>Retest run times</h4>
				<table id="retest_run_time" class="table table-bordered table-hover">
					<thead>
						<th>Retest plate</th>
						<th>Dispensing time</th>
						<th>Dispense to machine loading</th>
						
					</thead>
					<tbody>
						{% for rtp in retest_plate_group %}
						{% for rs in rtp.summary %}
						{% if rs.dispense_time and rs.dispense_to_load_time != '0:00:00' %}
						<tr>
							<td>{{ rtp.plate_id }}</td>
							<td>{{ rs.dispense_time }}</td>
							<td>{{ rs.dispense_to_load_time }}</td>
						</tr>
						{% endif %}
						{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
    $('#retest_run_time').DataTable();
} );
</script>
{% endblock %}