{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div >
				<h4>Dispensing</h4>
				<table id="dispensing_table" class="table table-bordered table-hover">
					<thead>
						<th>Dispensing</th>
						<th>Plates dispensed</th>
						<th>Retest plates</th>
						<th>Retest %</th>
					</thead>
					<tbody>
						{% for rdg in retest_dispense_group %}
						<tr>
							<td>{{ rdg.sample_dispensing }}</td>
							<td>{{ rdg.dispense_count }}</td>
							<td>{{ rdg.retest_count }}</td>
							<td>{{ ((rdg.retest_count/rdg.dispense_count)*100)|round(1) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div >
				<h4>Machine operator</h4>
				<table id="machine_op_table" class="table table-bordered table-hover">
					<thead>
						<th>Machine operator</th>
						<th>Plates processed</th>
						<th>Retest plates</th>
						<th>Retest %</th>
					</thead>
					<tbody>
						{% for rog in retest_operator_group %}
						<tr>
							<td>{{ rog.machine_operator }}</td>
							<td>{{ rog.processed_count }}</td>
							<td>{{ rog.retest_count }}</td>
							<td>{{ ((rog.retest_count/rog.processed_count)*100)|round(1) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
$(document).ready( function () {
    $('#dispensing_table').DataTable();
	$('#machine_op_table').DataTable();
} );
</script>
{% endblock %}